.button{
    padding: 10px;
    margin: 7px 15px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 62px;
    
}

.row input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 8px 70px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 4px;
}
